@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}

main {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

h1 {
  color: #25a2c3;
  padding-top: 50px;
  font-size: 45px;
  margin-bottom: 10px;
  
}

h3 {
  color: #25a2c3;
  font-size: 20px;
  padding-top: 20px;
}

header {
  background-color: black;
  padding: 8%;
}

.banner{
  background-image: url(../img/banner.jpg);
  background-size: 600px;
  background-position-y: 550px;
  background-position-x: 600px;
  background-attachment: fixed;
  font-size: 30pxpx;
}
.banner p{
    font-size: 25px;
    padding: 50px;
    margin: px;
    padding-top: 1px;
    margin-bottom: 1px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  background-color: #f04c2f;
  color: white;
  border-radius: 5px;
  margin-left: 33%;
  margin-right: 33%;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
